.card-curso{border-radius: 11px;}
.card-curso img {border-radius: 11px 11px 0 0;}
.img-curso {
    height: 120px;
    width: 450px;
    object-fit: cover;
}

.btn-red-df {
    background-color: #bd2130;
    color: var(--white-df);
    width: 180px;
    border-radius: 20px;
}

.btn-collapse {
    text-decoration: none !important;
    color: #70b62c;
}

.a-temario {
    color:#70b62c;
    text-decoration: none !important;
}

.title-video{
    color: #70b62c;
}